#!/bin/expect

spawn kadmin.local -q "addprinc myapp"
expect "Enter password for principal \"myapp@EXAMPLE.COM\": "
send "admin\r"
expect "Re-enter password for principal \"myapp@EXAMPLE.COM\": "
send "admin\r"
expect eof

spawn kadmin.local -q "addprinc myuser"
expect "Enter password for principal \"myuser@EXAMPLE.COM\": "
send "admin\r"
expect "Re-enter password for principal \"myuser@EXAMPLE.COM\": "
send "admin\r"
expect eof