# Configuration snippets may be placed in this directory as well
includedir /etc/krb5.conf.d/

[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 dns_lookup_realm = false
 ticket_lifetime = 24h
 #renew_lifetime = 7d
 forwardable = true
 rdns = false
 pkinit_anchors = FILE:/etc/pki/tls/certs/ca-bundle.crt
 default_realm = {{ kerberos_realm }}
 #default_ccache_name = KEYRING:persistent:%{uid}

[realms]
# EXAMPLE.COM = {
#  kdc = kerberos.example.com
#  admin_server = kerberos.example.com
# }
 {{ kerberos_realm }} = {
  kdc = {% for host in groups['kerberos'] -%}
              {% if hostvars[host].role == "server" -%}
                {{ host }}
              {%- endif %}
          {%- endfor %}

  admin_server = {% for host in groups['kerberos'] -%}
      {% if hostvars[host].role == "server" -%}
        {{ host }}
      {%- endif %}
  {%- endfor %}

  database_module = openldap_ldapconf
 }

[domain_realm]
# .example.com = EXAMPLE.COM
# example.com = EXAMPLE.COM
.{{ kerberos_domain }} = {{ kerberos_realm }}
{{ kerberos_domain }} = {{ kerberos_realm }}

[dbmodules]
 openldap_ldapconf = {
  db_library = kldap
  ldap_servers = ldapi:///
  ldap_service_password_file = /etc/krb5.ldap
  ldap_kerberos_container_dn = cn=kerberos,dc={{ ldap_dc }},dc=com
  ldap_kdc_dn = cn=admin,dc={{ ldap_dc }},dc=com
  ldap_kadmind_dn = cn=admin,dc={{ ldap_dc }},dc=com
 }