#!/bin/expect

spawn keytool -keystore keystore -alias localhost -validity 9999 -genkey -keyalg RSA -keysize 2048 -dname "CN={{ ansible_hostname }}, OU=mobile, O=example, L=city, ST=state, C=cn"
expect "Enter keystore password:  "
send "123456\r"
expect "Re-enter new password: "
send "123456\r"
expect "	(RETURN if same as keystore password):  "
send "123456\r"
expect "Re-enter new password: "
send "123456\r"
expect eof

set timeout 120
spawn keytool -keystore truststore -alias CARoot -import -file bd_ca_cert
expect "Enter keystore password: "
send "123456\r"
expect "Re-enter new password: "
send "123456\r"
expect "Trust this certificate? \[no\]:  "
send "yes\r"
expect eof


spawn keytool -certreq -alias localhost -keystore keystore -file cert
expect "Enter keystore password:  "
send "123456\r"
expect eof


spawn openssl x509 -req -CA bd_ca_cert -CAkey bd_ca_key -in cert -out cert_signed -days 9999 -CAcreateserial -passin pass:123456
expect eof


spawn keytool -keystore keystore -alias CARoot -import -file bd_ca_cert
expect "Enter keystore password:  "
send "123456\r"
expect "Trust this certificate? \[no\]:  "
send "yes\r"
expect eof


spawn keytool -keystore keystore -alias localhost -import -file cert_signed
expect "Enter keystore password:  "
send "123456\r"
expect eof